html,body{
    width:100%;
    margin: 0px;
    padding: 0;
}

@font-face {
    font-family: dand;
    src: url(fonts/DandeleonVintageDemo.ttf);
}
@font-face {
    font-family: meshi;
    src: url(fonts/SouthGardens.ttf);
}
@font-face {
    font-family: sham;
    src: url(fonts/Shamber.ttf);
}




/* ALL WRITING AND BUTTON */
.forum{
    background-image: url("gal.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 610px;
}
.forum .left{
    text-align: left;
    color: #eae9eb ;
    font-family: cursive;
    padding-top: 40px;
    padding-left: 30px;
    font-size: 32px;
    font-family: meshi;
}
.forum .left .q{font-family: dand; 
font-size: 32px;}
.forum .right{
    text-align: right;
    color: #eae9eb ;
    font-family: meshi;
    font-size: 32px; 
}
.mail_button {

    position: relative;
    cursor: pointer;
    border-radius: 10px; 
    padding: 25px 70px; 
    border: none;
    font-size: 50px;
    color: #e3e6e8;
    font-family: sham;
    background: linear-gradient(to right, transparent , #2D3E50);
    transition-duration: .9s;
}
.mail_button:hover {
    background: linear-gradient(to right,  transparent,#6D6E80);
}
.mail_button:active, .mail_button:focus {
    background: linear-gradient(to right,  transparent,#6D6E80);
    text-decoration: none;
    border:none;
    outline: none;
}



/* Navigation bar */
.navbar ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    position: fixed;
    background-color: black;
    padding: 0; 
    overflow: hidden; 
}
.navbar ul li{
    
    float: left;
}
.navbar ul li a{
    color:white;
    background-color: black;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
.navbar ul li a:hover{
    background-color: #130F17;
    transition-duration: 0.5s;
    color: #F8E9E9;
}
.navbar ul li input{
    /* - the search bar - */
    color: #746084;
    font-weight: bold;
    background-color: white;
    margin: 12px;
    padding: 7px;
    text-align:left;
    border-radius: 4px;
    border: 0;
    outline: none;
    width: 100px;
    transition: width 0.4s ease-in-out;

    }
.navbar ul li input:focus{
    width: 200%;
}


/* Footer organisation */
.footer
{
    background-color: #222;
    padding: 25px;
    border-bottom-right-radius: 10px; 
    text-align: left;
}
.footer p
{
    color: lightgray;
    font-size: 25px;
    
}
.footer .social-media{
    list-style-type: none;
    margin: 0;
    border:  0;
    display: flex;
    padding: 5px;
}

.footer .social-media li .col{
    flex:25%;
}
.footer .social-media li a{
    text-decoration: none;
    color: paleturquoise;
    opacity: 0.4;
    padding-right: 87px;
}
.footer .social-media li a .i{
    width: 100px;
    height: 100px;
}

